.container {
    color: rgba(255, 255, 255, 0.82);
    margin-top: 60px;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    padding-right: 50px;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child {
        border: none;
    }

    h3 {
        margin-bottom: 10px;
    }

    img {
        padding-top: 6px;
        padding-bottom: 5px;
        width: 50px;

    }
}


